body{
    background-color: darkseagreen;
    border: 25px solid yellowgreen;
    text-align: center;
    border-top: 0px;
    margin: 0px;
}
.head{
    color: chocolate;
    text-align: center;
    
}
.para{
    color: whitesmoke;
    text-align: center;
}
#one {
    display: block;
    text-align: center;
}
#one label{
        display: block;
        text-align: center;
        
}
#button{
    border-radius: 75%;
    color: teal;
}